<footer class="mt-auto pt-3 text-white">
    <div id="divFooter">
        <section class="sectionFooter">
            <i class="fa fa-2x fa-paypal"></i>
            <i class="fa fa-2x fa-cc-visa"></i>
            <i class="fa fa-2x fa-cc-mastercard"></i>
        </section>

        <p>© 2022 Copyright</p>

        <section class="sectionFooter">
            <a class="btn btn-outline-light btn-floating m-1" href="https://fr-fr.facebook.com" role="button">
                <i class="fa fa-facebook"></i>
            </a>

            <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com " role="button">
                <i class="fa fa-twitter"></i>
            </a>

            <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com " role="button">
                <i class="fa fa-instagram"></i>
            </a>

            <p>site.easygame@gmail.com</p>
        </section>
    </div>
</footer>