h1{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #3C3661 0%, #332E52 20%, #211E36 50%, #1B182C 80%, #110E2C 100%);
    color: white;
    text-align: center;
}

main {
    border: 2px double black;
    border-radius: 5px;
    flex-direction: column;
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
} 

main p {
    margin-bottom: 0px;
}

main div {
    border-bottom: 1px solid black;
}

img{
    width: 50%;
}

.liens{
    font-size:  1.4rem;
}

.btn{
    background: linear-gradient(90deg, #3C3661 0%, #332E52 80%, #211E36 100%);
    color: white;
}
.btn:hover{
    color: white;
}

#ajouterJoue{
    font-size: 25px;
    text-decoration: none;
    margin-bottom: 20px;
}