h1 {
    display: flex;
    justify-content: center;
    font-weight: 500;
    margin-top: 35px;
}

h2 {
    margin: 10px;
    text-decoration-line: underline;
}

main {
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

main p {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 75%;
}

main div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 20px 0;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 20px;
}

/*.infoJeux*/
/*{*/
/*    !*flex-direction: row;*!*/
/*}*/

b
{
    text-decoration-line: underline;
}

.btnContainer
{
    border: 0;
    margin: 0;
}

img {
    width: 50%;
}

.liens {
    font-size: 1.4rem;
}

.boutton
{
    background: linear-gradient(90deg, #3C3661 0%, #332E52 80%, #211E36 100%);
    color: white;
    margin: 0;
    width: 30%;
    font-size: 20px;
    height: auto;
}

.btn:hover {
    color: white;
}

#ajouterJeu {
    text-decoration: none;
    height: 100%;
}

.btnUser {
    text-decoration: none;
    color: white;
}

.btnUser:hover,
.btnJeux:hover {
    color: white;
}

.btnJeux {
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin: 15px 0 30px;
}

.img-fluid
{
    margin: auto;
}

@media only screen and (max-width: 1200px)
{
    .boutton
    {
        width: 40%;
    }
}

@media only screen and (max-width: 1024px)
{
    .boutton
    {
        width: 60%;
    }

    img
    {
        width: 60%;
    }
}

@media only screen and (max-width: 769px)
{
    h1
    {
        margin-bottom: 15px;
    }
    main
    {
        width: 100%;
    }

    main div
    {
        width: 95%;
        margin-right: auto;
        margin-left: auto;
    }

    main p
    {
        width: 90%;
    }

    img
    {
        width: 70%;
    }
}

@media only screen and (max-width: 400px)
{
    img
    {
        width: 80%;
    }
}