#messageErreur{
    color: red;
    margin-top: 30px;
}

main {
    border: 2px double black;
    border-radius: 5px;
    width: 60%;
    margin: 20px auto 20px auto;
    text-align: center;
}

h1{
    margin-top: 20px;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #3C3661 0%, #332E52 20%, #211E36 50%, #1B182C 80%, #110E2C 100%);
    color: white;
}

.btn
{
    background: linear-gradient(90deg, #3C3661 0%, #332E52 80%, #211E36 100%);
    color: white;
}