main
{
    justify-items: center;
}

h1
{
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 40px;
}

#box
{
    width: 60%;
    margin: 20px auto 20px auto;
    text-align: center;
}

#linkIncrit
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.formItemsContainer
{
    margin: 10px;
}

#connexionContainer
{
    display: flex;
    flex-direction: column;

    width: 100%;

    justify-content: center;
    justify-items: center;
}

.connexionInput
{
    align-self: center;
    width: 35%;
    margin: 10px;
}

.boutton
{
    background: linear-gradient(90deg, #3C3661 0%, #332E52 80%, #211E36 100%);
    color: white;
    margin: 10px 0;
    width: 35%;
}

.boutton:hover
{
    color: #DDDDDD;
}

a:link
{
    text-decoration: none;
}

@media only screen and (max-width: 1250px)
{
    .connexionInput
    {
        width: 70%;
    }

    .boutton
    {
        width: 70%;
    }
}

@media only screen and (max-width: 769px)
{
    #box
    {
        width: 75%;
    }

    .connexionInput
    {
        width: 80%;
    }

    .boutton
    {
        width: 80%;
    }

    .title
    {
        margin-bottom: 20px;
    }
}