#title
{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #3C3661 0%, #332E52 20%, #211E36 50%, #1B182C 80%, #110E2C 100%);
    color: white;
}

#box
{
    border: 2px double black;
    border-radius: 5px;
    width: 60%;
    margin: 20px auto 20px auto;
    text-align: center;
}

#line
{
    padding-right: 20px;
    border: 1px solid black;
    color:black;
    background-color:black;
}

#linkIncrit
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.formItemsContainer
{
    margin: 10px;
}

#connexionContainer
{
    display: flex;
    flex-direction: column;

    width: 100%;

    justify-content: center;
    justify-items: center;
}

.connexionInput
{
    align-self: center;
    width: 220px;
    margin: 10px;
}

.boutton
{
    background: linear-gradient(90deg, #3C3661 0%, #332E52 80%, #211E36 100%);
    color: white;
}

.boutton:hover
{
    color: #DDDDDD;
}

a:link
{
    text-decoration: none;
}


@media only screen and (max-width: 769px)
{
    #box
    {
        width: 75%;
    }

}