/*--------------------Media--------------------*/


/*#region Media (Screen under 600px)*/

@media only screen and (max-width: 600px) {
    body {
        overflow: auto;
    }
    /* div dans le footer qui sert de container*/
    #divFooter {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    /* section du footer */
    .sectionFooter {
        width: 50%;
    }
}


/*#endregion */

a {
    text-decoration: none;
}

footer {
    padding: 3em 0 1em 0;
    background: #121212;
}

footer p {
    color: rgba(255, 255, 255, 0.3);
}

h2 {
    line-height: 1.5;
}

footer .footer-heading {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 30px;
}

.ftco-footer-social li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
}

.ftco-footer-social li a {
    height: 40px;
    width: 40px;
    display: block;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    position: relative;
}

.ftco-footer-social li a i {
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ftco-footer-social li a:hover {
    color: #fff;
}

footer a {
    color: #a3de83;
}

footer .footer-heading .logo {
    color: #fff;
}

footer .menu {
    margin-bottom: 20px;
}

footer .menu a {
    color: rgba(255, 255, 255, 0.6);
    margin: 0 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

footer .ftco-footer-social li a {
    background: transparent;
    border: 1px solid #a3de83;
}

.mt-5 {
    margin-top: 0!important;
}