/*--------------------Footer--------------------*/


/*#region Footer*/

footer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    clear: both;
    justify-content: space-between;
    justify-items: center;
    /* background: linear-gradient(90deg, #3C3661 0%, #332E52 20%, #211E36 50%, #1B182C 80%, #110E2C 100%); */
}


/* div dans le footer qui sert de container*/

#divFooter {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}


/* section du footer */

.sectionFooter {
    width: 33.3333%;
}


/*#endregion*/


/*--------------------Media--------------------*/


/*#region Media (Screen under 600px)*/

@media only screen and (max-width: 600px) {
    body {
        overflow: auto;
    }
    /* div dans le footer qui sert de container*/
    #divFooter {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    /* section du footer */
    .sectionFooter {
        width: 50%;
    }
}


/*#endregion */

.full {
    width: 100%;
}

.gap {
    height: 30px;
    width: 100%;
    clear: both;
    display: block;
}

.footer {
    height: auto;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
}

.footer p {
    margin: 0;
}

.footer img {
    max-width: 100%;
}

.footer h3 {
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 0px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.footer h4 {
    color: white;
    font-size: 2em;
    font-weight: 600;
    line-height: 38px;
    padding: 40px 0 10px;
    font-family: cursive;
    font-weight: lighter
}

.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 0px;
    color: #7F8C8D;
    padding: 0 0 8px 0;
}

.email {
    border-bottom: 3px solid #fff;
    color: white;
}

.footer ul li a {
    padding: 0 0 12px 0;
    display: block;
}

.footer a {
    color: white;
    font-weight: lighter;
}

.footer p {
    color: white;
    font-weight: lighter;
}

.footer a:hover {
    text-decoration: none;
    font-weight: bold;
}

.supportLi h4 {
    font-size: 20px;
    font-weight: lighter;
    line-height: normal;
    margin-bottom: 0 !important;
    padding-bottom: 0;
}

.bg-gray {
    background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
    box-shadow: 0 1px 0 #B4B3B3;
}

.footer a {
    color: #78828D
}

.footer-bottom {
    margin-top: 2em;
    padding-top: 20px;
    padding-bottom: 10px;
}

.footer-bottom p.pull-left {
    padding-top: 6px;
    font-size: 0.75em
}