/*--------------------Body--------------------*/
body
{
    font-family: Calibri;
    font-size: 1.2em;

    margin: auto;
    padding: 0;

    overflow-x: hidden;
}

.messageReussi
{
    margin: 10px auto 20px auto; 
    font-size: 25px;
    border-radius: 5px;
    width: 50%;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    color: darkgreen;  
    border: 2px solid darkgreen; 
    background:rgba(30, 190, 50, 0.5);
}

.messageFaux
{
    margin: 10px auto 20px auto; 
    font-size: 25px;
    border-radius: 5px;
    width: 50%;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    color: darkred; 
    border: 2px solid darkred;  
    background:rgba(200, 30, 50, 0.5);
}

/*--------------------Scroll-bar--------------------*/
/*#region Scroll-bar*/

/* Largeur de la scroll-bar*/
::-webkit-scrollbar {
    width: 10px;
}

/* Couleur de la scroll-bar */
::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, #3C3661 0%, #332E52 60%, #211E36 100%);
}

/* Couleur de la scroll-bar (hover) */
::-webkit-scrollbar-thumb:hover {
    background: #3C3661;
}
/*#endregion*/