/*--------------------Header--------------------*/


/*#region Header*/

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #332E52;
}

#logoContainer {
    display: flex;
    justify-content: right;
    width: 40%;
}

#logo {
    width: 167px;
    height: 100px;
}

nav {
    width: 100%;
}

.texte-icon {
    width: 100px;
    margin-bottom: 0;
    text-align: center;
    font-size: 14px;
    color: white;
    font-weight: bold;
}

.nav {
    width: 60%;
    padding-left: 20px;
}

.nav-link {
    justify-content: center;
    width: 100px;
    display: flex;
    color: white;
}

.nav-link:visited {
    color: white;
}

.nav-link:hover {
    color: silver;
}

.nav-link:focus {
    color: silver;
}
.badge{
    margin: 0 0.3em;
    font-size: 1em;
}
#panier{
    text-align: left;
    padding-left: 0.5em ;
    padding-top: 0;
}

/*#endregion*/

@media only screen and (max-width: 1024px) {
    #logoContainer {
        width: 100%;
        justify-content: center;
    }
    .nav {
        width: 100%;
        justify-content: center;
    }
}

@media only screen and (max-width: 769px) {
    #logoContainer {
        width: 100%;
        justify-content: center;
    }
    .nav {
        width: 100%;
        justify-content: center;
    }
    .nav-link {
        margin-right: 5px;
        margin-left: 5px;
    }
}

@media only screen and (max-width: 600px) {
    .nav-link {
        margin-right: 0;
        margin-left: 0;
    }
}

@media only screen and (max-width: 480px) {
    .nav-li {
        width: 80px;
        padding-bottom: 15px;
    }
    .nav-link {
        padding: 4px;
        width: 80px;
    }
    .icon-texte {
        width: 80px;
        text-align: center;
    }
    nav {
        width: 70%;
    }
}