@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
h1 {
    text-align: center;
}

h3 {
    margin: 0 10px
}

.prix {
    font-size: 2rem;
}

main {
    width: 100%;
    display: flex;
}

#descriptionJeuxContainer {
    width: 60%;
    margin-left: 10%;
}

#asideContainer {
    font-weight: 600;
    font-size: 18px;
    margin: auto;
    text-align: center;
}

.boutton {
    background: linear-gradient(90deg, #3C3661 0%, #332E52 80%, #211E36 100%);
    color: white;
    margin: 5px;
}

.boutton:hover {
    color: #DDDDDD;
}

#commentaireContainer {
    border: black solid 1px;
    margin: 3% auto 0 auto;
    text-align: left;
}


/* Enleve les radio buttons */

.starrating>input {
    display: none;
}

.starrating>label:before {
    /*code pour l'etoile*/
    content: "\f005";
    margin: 2px;
    font-size: 1em;
    font-family: FontAwesome;
    display: inline-block;
}


/*quand l'etoile n'est pas clique*/

.starrating>label {
    color: #222222;
}


/*quand l'etoile estclique*/

.starrating>input:checked~label {
    color: #ffca08;
}

.starrating>input:hover~label {
    color: #ffca08;
}