@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
h1 {
    margin: 5% 0;
}

h3,
#nbcommentaires,
#descriptionJeuxContainer p:first-of-type {
    margin: 1%;
}

.prix {
    font-size: 2rem;
}

main {
    width: 100%;
    display: flex;
}

#descriptionJeuxContainer {
    width: 50%;
    margin-left: 10%;
    margin-bottom: 5%;
}
#imgProfil{
    width: 100px;
    height: 100px;
    border-radius: 50%
}
#asideContainer {
    font-weight: 600;
    font-size: 18px;
    margin: 10% auto;
    text-align: center;
    border: black solid 1px;
    border-radius: 5%;
    height: 250px;
    width: 300px;
    padding: 2%;
}
#note{
    
    margin-top:100px;
}

.boutton,
input[type=submit] {
    background: linear-gradient(90deg, #3C3661 0%, #332E52 80%, #211E36 100%);
    color: white;
    margin: 5px;
}

.boutton:hover,
input[type=submit] {
    color: #DDDDDD;
}


/* #commentaireContainer {
    border: black solid 1px;
    margin: 5% auto;
    text-align: left;
    width: 400px;
    height: auto;
}

#commentaireContainer h5 {
    width: 50%;
    margin: 0;
    float: left;
    font-size: 23px;
    padding: 0.5rem 1rem 0rem 1rem;
}

#commentaireContainer p:first-of-type {
    width: 50%;
    float: right;
    text-align: right;
    font-size: 18px;
    color: #ffca08;
    padding: 0rem 1rem 0.2rem 1rem;
}

#commentaireContainer h6 {
    width: 100%;
    float: left;
    padding: 0 1rem;
}

#commentaireContainer p {
    padding: 0;
} */

#commentaire-pseudo {
    width: 80%;
}

#commentaire-date {
    width: 20%;
    text-align: center;
}

.starrating {
    justify-content: left;
}


/* Enleve les radio buttons */

.starrating>input {
    display: none;
}

.starrating>label:before {
    /*code pour l'etoile*/
    content: "\f005";
    margin: 2px;
    font-size: 1em;
    font-family: FontAwesome;
    display: inline-block;
}


/*quand l'etoile n'est pas clique*/

.starrating>label {
    color: #222222;
}


/*quand l'etoile estclique*/

.starrating>input:checked~label {
    color: #ffca08;
}

.starrating>input:hover~label {
    color: #ffca08;
}

.card {
    border-radius: 5px;
    background-color: #fff;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.star-active {
    color: #FBC02D;
    margin-top: 10px;
    margin-bottom: 10px;
}

.star-active:hover {
    color: #F9A825;
    cursor: pointer;
}

.star-inactive {
    color: #CFD8DC;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content {
    font-size: 18px;
}

section {
    width: 1500px;
}


/* .card {
    width: 1500px;
    border: none;
    overflow: hidden
}

.main_image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    overflow: hidden
}

.heart {
    height: 32px;
    width: 32px;
    background-color: #eaeaea;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center
}

.right-side {
    position: relative
}

.buttons .btn {
    background-color: #865ad3;
    height: 50px;
    width: 150px;
    border-radius: 0px !important
} */