h1 {
    text-align: center;
}

img,
.description,
.evaluation {
    width: 1100px;
    display: block;
    margin: auto;
}

h3 {
    margin: 0 10px
}

input[type=submit] {
    display: block;
    margin: auto;
}

body {
    margin-top: 20px;
    background: #eee;
}

.review-list ul li .right h4 {
    font-size: 16px;
    margin: 0;
    display: flex;
}

.review-list ul li .right h4 .gig-rating {
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: #ffbf00;
}

.review-list ul li .right h4 .gig-rating svg {
    margin: 0 4px 0 0px;
}

.review-list ul li {
    border-bottom: 1px solid #dadbdd;
    padding: 0 0 30px;
    margin: 0 0 30px;
}

.review-list ul li .right {
    flex: auto;
}

.review-list ul li .review-description {
    margin: 20px 0 0;
}

.review-list ul li .review-description p {
    font-size: 14px;
    margin: 0;
}

.review-list ul li .publish {
    font-size: 13px;
    color: #95979d;
}

ul,
ul li {
    list-style: none;
    margin: 0px;
}