.messageDiv
{
    width: 60%;

    display: none;
    justify-content: center;

    padding: 20px 0;
    margin: 10px auto 20px auto;
    border-radius: 5px;

    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

#failMessage
{
    display: flex;
    flex-direction: column-reverse;
    background-color: rgba(200, 30, 50, 0.5);
    color: darkred;
    border: 2px solid darkred;
}

#successMessage
{
    display: flex;
    background-color: rgba(30, 190, 50, 0.5);
    color: darkgreen;
    border: 2px solid darkgreen;
}