main{
    text-align: center;    
    border: 2px solid black;
    border-radius: 5px;
    flex-direction: column ;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 20px;
}

fieldset{
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    margin:5px;
}

fieldset > table{
    margin: auto;
}

legend{
    font-weight: bold;
    padding: 10px;
}

#changer{
    width: 100px;
}

h1{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #3C3661 0%, #332E52 20%, #211E36 50%, #1B182C 80%, #110E2C 100%);
    color: white;
    text-align: center;
}

textarea{
    vertical-align: top;
}

.btn{
    background: linear-gradient(90deg, #3C3661 0%, #332E52 80%, #211E36 100%);
    color: white;
}

table{
    border: 2px solid black;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
}
