#message
{
    display: none;
    text-align: center;

    width: 60%;
    height: 80px;

    line-height: 80px;
    margin: 2rem auto 1rem auto;
    border-radius: 1rem;
    font-weight: bold;
}

main
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
}

h1
{
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 40px;
}

.inputContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
}

label
{
    margin-bottom: 5px;
}

#email
{
    width: 20%;
    margin: auto;
    text-align: center;
}

#submitContainer
{
    width: 100%;
}

#submit
{
    width: 20%;
    color: #fff;
    font-size: 1.1rem;
    background: linear-gradient(90deg, #3C3661 0%, #332E52 80%, #211E36 100%);
    font-weight: bold;
    border: none;
    margin-bottom: 40px;
}

/*#region Media*/
@media only screen and (max-width: 769px)
{
    #submit
    {
        width: 70%;
    }

    #email
    {
        width: 70%;
    }
}
/*#endregion*/