*{
margin: 0;
}
/*--------------------Header--------------------*/
/*#region Header*/
h1
{
    width: 100%;
    margin: 30px auto;
}

input[type=submit] {
    background: linear-gradient(90deg, #3C3661 0%, #332E52 80%, #211E36 100%);
    color: white;
}

ul
{
    justify-content: center;
    justify-items: center;
}

a
{
    text-align: center;

}

#credit{
    background: linear-gradient(90deg, #3C3661 0%, #332E52 80%, #211E36 100%);
}
#creditText{
    color: white;
}

.btn:hover
{
    color: whitesmoke;
}

.rounded {
    border-radius: 1rem;
}

.nav-pills .nav-link {
    color: #555;
}

.nav-pills .nav-link.active {
    color: white;
}

input[type="radio"] {
    margin-right: 5px;
}

.bold {
    font-weight: bold;
}

/*#endregion*/

.container .h8 {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.btn.btn-danger{
    height: 35px;
    width: 35px;
}

.btn.btn-primary
{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border: none;
}

.btn.btn.btn-primary:hover
{
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.btn.btn-primary:hover .fas.fa-arrow-right
{
    transform: translate(15px);
    transition: transform 0.2s ease-in;
} 
/*--------------------Main--------------------*/
/*#region Main*/
main
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#jeux-container
{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
}

.panier-container
{
    display: flex;
    text-align: center;
    align-items: center;
    margin: 20px;
}

.panier-item
{
    width: 100%;
}

#payement-container
{
    width: 40%;
    margin: 0 auto;
    font-weight: 600;
    font-size: 18px;
}

form
{
    width: 100%;
}

.actions
{
    width: auto;
}

#payement{
    width: 100%;
    
}
#moyen{
    width: 100%;
}

.label-payement
{
    font-size: 15px;
}

/*--------------------Cards--------------------*/
/*#region Cards*/
.card
{
    display: flex;
    flex-direction: column;

    height: auto;

    border-radius: 20px;
    border: 0;
}

.card:hover
{
    background-color: #E8E8E8;
    cursor: pointer;
}

#image-container
{
    width: 30%;
}

#panier-texte-container
{
    width: 70%;
}


.card-img
{
    width: 100%;
    border-radius: 20px;
}

.row
{
    display: block;
}

/*--------------------Media--------------------*/
/*#region Media*/
@media only screen and (max-width: 1024px)
{
    .card
    {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #jeux-container
    {
        width: 80%;
    }

    #payement-container
    {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 769px)
{
    #logo
    {
        justify-content: center;
        text-align: center;
    }

    .card
    {
        width: 90%;
    }

    #jeux-container
    {
        width: 90%;
    }

    .panier-container
    {
        flex-direction: column;
    }

    #image-container
    {
        width: 50%;
    }

    .actions
    {
        margin-top: 5px;
    }
}

@media only screen and (max-width: 480px)
{
    #icon-container
    {
        width: 100%;
        justify-content: center;
    }

    .card
    {
        width: 100%;
    }

    #image-container
    {
        width: 55%;
    }
} 
/*#endregion */


/*--------------------Scroll-bar--------------------*/
/*#region Scroll-bar*/

/* Largeur de la scroll-bar*/
::-webkit-scrollbar
{
    width: 10px;
}

/* Couleur de la scroll-bar */
::-webkit-scrollbar-thumb
{
    background: linear-gradient(0deg, #3C3661 0%, #332E52 60%, #211E36 100%);
}

/* Couleur de la scroll-bar (hover) */
::-webkit-scrollbar-thumb:hover
{
    background: #3C3661;
}
/*#endregion*/