* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main-container {
    display: flex;
    justify-content: center;
    height: auto;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, #3C3661 0%, #332E52 60%, #211E36 100%);
}

::-webkit-scrollbar-thumb:hover {
    background: #3C3661;
}

#info-button {
    font-family: FontAwesome;
    background: linear-gradient(90deg, #3C3661 0%, #332E52 80%, #211E36 100%);
    color: white;
    margin: 5px;
    width: 20%;
    float: right;
}


/* Style the tab */

.tab {
    height: auto;
    width: 260px;
    background-color: #F5F7F9;
}


/* Style the buttons inside the tab */

.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #865ad3;
    color: white;
}


/* Create an active/current "tab button" class */

.tab button.active {
    color: #865ad3;
    background-color: #e7e7e7;
}

.tabcontent {
    float: left;
    padding: 0px 12px;
    margin: auto;
}

h1 {
    text-align: center;
    margin: 2% 0;
}


/*--------------------Informations personnelles--------------------*/


/*#region Informations personnelles*/

#editer {
    background: linear-gradient(90deg, #3C3661 0%, #332E52 80%, #211E36 100%);
    color: white;
    width: 50%;
    cursor: pointer;
}

#valider {
    background: linear-gradient(90deg, #3C3661 0%, #332E52 80%, #211E36 100%);
    color: white;
    cursor: pointer;
}

button {
    width: 2%;
}


/* Style the tab content */

#info {
    width: 1300px;
    height: 800px;
}

#info h5 {
    font-size: 1.5rem;
}


/*#endregion*/


/*--------------------Historique--------------------*/


/*#region Historique*/

.round {
    position: relative;
    border: 2px solid #865ad3;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #865ad3;
}

#cta {
    width: 100%;
    cursor: pointer;
    position: absolute;
}

#cta .arrow {
    left: 30%;
}

.arrow {
    position: absolute;
    bottom: 0;
    margin-left: 0px;
    width: 12px;
    height: 12px;
    background-size: contain;
    top: 12px;
    color: purple;
}

.segunda {
    margin-left: 8px;
}

.next {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}

@keyframes bounceAlpha {
    0% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
    25% {
        opacity: 0;
        transform: translateX(10px) scale(0.9);
    }
    26% {
        opacity: 0;
        transform: translateX(-10px) scale(0.9);
    }
    55% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}

.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.arrow.primera.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.round:hover .arrow {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.round:hover .arrow.primera {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

table {
    width: 1300px;
    margin: 2%;
}

#row {
    width: 100%;
}

#first-child {
    width: 20%;
}

#second-child {
    width: 45%;
}

#third-child {
    width: 15%;
}

#imageHistorique {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
}

#second-child h4 {
    margin-left: 30px;
    font-size: 1.5em;
}

#third-child p {
    font-size: 1.3em;
}


/*#endregion*/


/*--------------------Wishlist--------------------*/


/*#region Wishlist*/

.nav-container {
    display: flex;
    justify-content: center;
    width: 50%;
}

#logo-container {
    justify-content: right;
    padding-right: 15px;
}

#imgWishlist {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#imgWishlist:hover {
    width: 100%;
}

#logo {
    width: 167px;
    height: 100px;
}

#icon-container {
    justify-content: left;
    padding-left: 15px;
}

.icon {
    color: #fff;
}

.container .h8 {
    font-size: 30px;
    font-weight: 800;
    text-align: center
}

.btn.btn-danger {
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.btn.btn-primary {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    /* background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
        border: none;
        transition: 0.5s;
        background-size: 200% auto */
}

#wishlistSection {
    display: flex;
    width: 1500px;
    flex-wrap: wrap;
}

#wishlistSection form {
    margin: 2% 5%;
}

.card {
    width: 350px;
    height: 100%;
    border-radius: 20px;
}

.card:hover {
    background-color: #E8E8E8;
    cursor: pointer;
}

.main-heading {
    font-size: 19px;
    margin-bottom: 20px;
}

.item-options {
    display: flex;
    justify-content: center;
}

.card .ecommerce-card {
    height: 100%;
}


/*#endregion*/