/*--------------------Main--------------------*/
/*#region Main*/
#sucess_message
{
    display: none;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;

    height: 80px;
    width: 100%;

    margin: 10px 0 20px 0;
    border: 2px solid darkgreen;
    border-radius: 5px;

    font-size: 1.3rem;
    font-weight: bold;
    background: rgba(30, 190, 50, 0.5);
    color:darkgreen;
}

#error_div
{
    display: none;
    flex-direction: column-reverse;
    align-content: center;
    text-align: center;
    width: 100%;

    margin: 10px 0 20px 0;
    border: 2px solid darkred;
    border-radius: 5px;

    font-size: 1.3rem;
    font-weight: bold;
    color:darkred;
    background: rgba(200, 30, 50, 0.5);
}

.error_msg
{
    margin: 0;
}

h1
{
    display: flex;
    justify-content: center;
    color: #332E52;
    font-weight: bold;
}

/* div dans le main qui englobe le formulaire */
#divMain
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* div qui sont dans le formulaire */
.divForm
{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

form
{
    width: 60%;
}

/* label et input du formulaire */
.label-input
{
    width: 100%;
    font-weight: bold;
}

/* label de l'affichage du mot de passe */
#containerShowPassWord
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* checkbox qui affiche/cache le mot de passe */
#showPassWord
{
    width:25px;
    height:25px;
}

/* div qui englobe le boutton Valider et Annuler */
#container-form-bot
{
    display: flex;
    justify-content: end;
    width: 100%;
    margin-top: 20px;
    font-weight: bold;
}

/* Button Valider et Annuler */
.btnSubmit
{
    width: 25%;
    color: #fff;
    font-size: 1.1rem;
    background: linear-gradient(90deg, #3C3661 0%, #332E52 80%, #211E36 100%);
    font-weight: bold;
}

.btnSubmit:hover
{
    color: #DDDDDD;
}
/*#endregion*/





/*--------------------Media--------------------*/
/*#region Media*/
@media only screen and (max-width: 1100px)
{
    form
    {
        width: 70%;
    }
}

@media only screen and (max-width: 1000px)
{
    form
    {
        width: 85%;
    }

    /* label et input du formulaire */
    .label-input
    {
        width: 100%;
    }
}

@media only screen and (max-width: 800px)
{
    #sucess_message
    {
        line-height: 40px;

        height: 80px;
        width: 100%;

        font-size: 1.2rem;
    }

    form
    {
        width: 90%;
    }

    /* label et input du formulaire */
    .label-input
    {
        width: 100%;
    }
}

@media only screen and (max-width: 600px)
{
    /* div qui sont dans le formulaire */
    .divForm
    {
        text-align: center;
    }

    label
    {
        text-align: left;
    }

    /* label et input du formulaire */
    .label-input
    {
        width: 100%;
    }
}
/*#endregion*/




/*--------------------Scroll-bar--------------------*/
/*#region Scroll-bar*/

/* Largeur de la scroll-bar*/
::-webkit-scrollbar
{
    width: 10px;
}

/* Couleur de la scroll-bar */
::-webkit-scrollbar-thumb
{
    background: linear-gradient(0deg, #3C3661 0%, #332E52 60%, #211E36 100%);
}

/* Couleur de la scroll-bar (hover) */
::-webkit-scrollbar-thumb:hover
{
    background: #3C3661;
}
/*#endregion*/