/*body*/
/*{*/
/*    margin: auto;*/
/*    padding: 0;*/
/*    height: 100%;*/
/*}*/

header
{
    margin-top: 50px;
    margin-bottom: 30px;
}

h1
{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    text-align: left;
}

div
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.container
{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    text-align: left;
}

/*#containerBtn*/
/*{*/
/*    display: flex;*/
/*    text-align: center;*/
/*    flex-wrap: nowrap;*/
/*}*/

/*.password-icon*/
/*{*/
/*    float: right;*/
/*    position: relative;*/

/*    right: 30px;*/
/*    top: -10px;*/
/*    width: 0px;*/
/*}*/

.password-icon .feather-eye-off
{
    display: none;
}

/*@media only screen and (max-width: 768px) {*/
/*    .container {*/
/*        text-align: left;*/
/*    }*/

/*    .btn {*/
/*        margin-top: 10px;*/
/*    }*/

/*    #containerBtn {*/
/*        display: flex;*/
/*        flex-direction: column;*/

/*        width: 50%;*/
/*    }*/

/*    .password-icon {*/
/*        float: right;*/
/*        position: relative;*/

/*        right: 20px;*/
/*        top: -34px;*/
/*        width: 0px;*/

/*    }*/

/*    .col-6 {*/
/*        width: 100%;*/
/*    }*/
/*}*/