/*--------------------Main--------------------*/
/*#region Main*/

h1
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;

    color: #332E52;
}

/* div dans le main qui englobe le formulaire */
#divMain
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* div qui sont dans le formulaire */
.divForm
{
    margin-top: 10px;
    margin-bottom: 10px;
}

form
{
    width: 40%;
}

/* label et input du formulaire */
.label-input
{
    width: 100%;
}

/* label de l'affichage du mot de passe */
#containerShowPassWord
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* checkbox qui affiche/cache le mot de passe */
#showPassWord
{
    width:25px;
    height:25px;
}

/* div qui englobe le boutton Valider et Annuler */
#container-form-bot
{
    display: flex;
    justify-content: end;
    width: 100%;
    margin-top: 30px;
}

/* Button Valider et Annuler */
.btnSubmit
{
    width: 30%;
    color: #fff;
    background: linear-gradient(90deg, #3C3661 0%, #332E52 80%, #211E36 100%);
}

.btnSubmit:hover
{
    color: #DDDDDD;
}

.error-msg
{
    display: none;
    color: #f00;

    font-weight: bold;
    font-style: italic;
    font-size: 1rem;
}

/*#endregion*/





/*--------------------Media--------------------*/
/*#region Media*/
@media only screen and (max-width: 1000px)
{
    form
    {
        width: 60%;
    }

    /* label et input du formulaire */
    .label-input
    {
        width: 100%;
    }
}

@media only screen and (max-width: 800px)
{
    form
    {
        width: 80%;
    }

    /* label et input du formulaire */
    .label-input
    {
        width: 100%;
    }
}

@media only screen and (max-width: 600px)
{
    body
    {
        overflow: auto;
    }

    form
    {
        width: 90%;
    }

    /* div qui sont dans le formulaire */
    .divForm
    {
        text-align: center;
    }

    label
    {
        text-align: left;
    }

    /* label et input du formulaire */
    .label-input
    {
        width: 100%;
    }

    /* checkbox qui affiche/cache le mot de passe */
    #showPassWord
    {
        width: 24%;
    }

    /* Button Valider et Annuler */
    .btnSubmit
    {
        justify-content: space-between;
        margin-left: 30px;
        margin-right: 30px;
    }
}
/*#endregion*/




/*--------------------Scroll-bar--------------------*/
/*#region Scroll-bar*/

/* Largeur de la scroll-bar*/
::-webkit-scrollbar
{
    width: 10px;
}

/* Couleur de la scroll-bar */
::-webkit-scrollbar-thumb
{
    background: linear-gradient(0deg, #3C3661 0%, #332E52 60%, #211E36 100%);
}

/* Couleur de la scroll-bar (hover) */
::-webkit-scrollbar-thumb:hover
{
    background: #3C3661;
}
/*#endregion*/