.card
{
    width: 400px;
    margin: 0;
    float: left;
    
}

.card-title
{
    text-align: center;
}

.card_prix
{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.card-img{
    height: auto;
    width: 400px;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    
}
html{
    position: relative;
    min-height: 100%;
}
section:first-of-type{
    float: left;
}
section:last-of-type{
    float:right;
}
div:last-of-type{
    margin-top: 29px;
    text-align: center;
}
p:last-of-type{
    text-align: center;
}
