body
{
    font-family: Calibri;
    font-size: 1.2em;

    margin: auto;
    padding: 0;

    overflow-x: hidden;
}

header
{
    margin-bottom: 20px;
    background: linear-gradient(90deg, #3C3661 0%, #332E52 20%, #211E36 50%, #1B182C 80%, #110E2C 100%);
}

.nav-font
{
    color: #fff;
}

ul
{
    justify-content: center;
    justify-items: center;
}

a
{
    text-align: center;
}

#logo
{
    width: 167px;
    height: 100px;
}

#span-logo
{
    justify-content: right;
    padding-right: 15px;
}

#span-icon
{
    justify-content: left;
    padding-left: 15px;
}

.filtres
{
    width: 135px;
}

.main-nav
{
    display: flex;
    width: 50%;

    justify-content: center;
}

#divMain
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}




/*--------------------Cards--------------------*/
/*#region Cards*/
.card
{
    display: flex;
    flex-direction: column;

    width: 30%;
    height: auto;
}

.card-block
{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    height: 55%;
}

.card-title
{
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.card-text
{
    height: 100%;
    overflow: auto;
    padding: 0px 15px 0px 15px;
    text-align: justify;
}

.card_prix
{
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    color: #3C3661;
}

.card-img
{
    height: 45%;
    width: 100%;
}

.card-btn
{
    display: flex;
    justify-content: center;
    width: 75%;
    height: 15%;
    font-size: 18px;
    margin-bottom: 5px;
    background-color: #3C3661;
    color: white;
}

.card-btn:hover
{
    color: whitesmoke;
    background-color: #332E52 ;
}
/*#endregion */




/*--------------------Media--------------------*/
/*#region Media*/
@media only screen and (max-width: 1400px)
{
    .card
    {
        width: 45%;
    }
}

@media only screen and (max-width: 1024px)
{
    .card
    {
        width: 70%;
    }
}

@media only screen and (max-width: 769px)
{
    .card
    {
        width: 80%;
    }

    .logo
    {
        justify-content: center;
        text-align: center;
        justify-items: center;
    }

    /*.filtres*/
    /*{*/
    /*    width: 135px;*/
    /*}*/
}

@media only screen and (max-width: 480px)
{
    .card
    {
        width: 90%;
    }
}

/*#endregion */





/*--------------------Scroll-bar--------------------*/
/*#region Scroll-bar*/

/* Largeur de la scroll-bar*/
::-webkit-scrollbar
{
    width: 10px;
}

/* Couleur de la scroll-bar */
::-webkit-scrollbar-thumb
{
    background: linear-gradient(0deg, #3C3661 0%, #332E52 60%, #211E36 100%);
}

/* Couleur de la scroll-bar (hover) */
::-webkit-scrollbar-thumb:hover
{
    background: #3C3661;
}
/*#endregion*/